{{>templates/open page='home'}}

{{>templates/header}}

<main class="index-page">

  <div class="container">

    <h1>{{siteSettings.name}}</h1>

    <div class="cards">

      {{> partials/cards cards=fireBaseData}}

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
