{{>templates/open page='home'}}

{{>templates/header}}

<main class="index-page">

  <div class="container">

    <h1>{{siteSettings.name}}</h1>

    <div class="cards">

      {{#each fireBaseData as |card index|}}

        {{>partials/card card=card}}

      {{/each}}

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
