<form
  data-auth-form="{{mod}}"
  id="auth-{{mod}}"
  >

  <input
    placeholder="email"
    name="email"
    type="text"
    />

  <input
    placeholder="password"
    name="password"
    type="password"
    />

  <input
    class="button"
    type="submit"
    />

</form>
