{{>templates/open page='proposal'}}

{{>templates/header}}

<main class="proposal-page">

  <div class="container">

    <h1>{{translate 'proposal'}}</h1>

    <p><strong>Title:</strong> {{data.proposal.name}}</p>

    <p><strong>URL:</strong> {{data.proposal.url}}</p>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
