{{>templates/open page='product'}}

{{>templates/header}}

<main class="product-page">

  <div class="container">

    <h1>{{translate 'proposal'}}</h1>

    <p><strong>Title:</strong> {{data.product.name}}</p>

    <p><strong>Slug:</strong> {{data.product.slug}}</p>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
