{{>templates/open page='search'}}
{{>templates/header}}

<main class="container">
  {{breadcrumb
    lang.Home "/"
    lang.Search "/search/"
  }}




</main>

{{>templates/footer}}
{{>templates/close}}
